{% macro page_info(page) %}
<article class="lst-entry">
    <h1 class="lst-entry-txt">
        {% if page.extra.external %}
        <a href="{{ page.extra.external | safe }}" target="_blank">{{page.title}}</a>
        {% else %}
        <a href="{{ page.permalink | safe }}">{{page.title}}</a>
        {% endif %}
        {% if page.extra.summary %}<span class="lst-entry-summary"> — {{page.extra.summary | markdown(inline=true)}} </span>{% endif %}
    </h1>
    <div class="lst-entry-date grey-ital">
        <span>
            {{page.date | date(format="%d %B %Y")}}
        </span>
    </div>
</article>
{% endmacro page_info %}