<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ page.title }} {% endblock title %} | Daghmoura Riadh</title>
  <link rel="stylesheet"  href="{{ get_url(path='main.css', trailing_slash=false) }}" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.extra.external %}
  <meta http-equiv='refresh' content="0; URL={{ page.extra.external | safe }}">
  <meta name="description" content="{{ page.extra.summary }}">
  {% endif %}
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="navigation">
        <ul>
          <li><a href="/blog/">blog</a>
          <li><a href="/ray-tracer/">raytracer</a>
          <li><a href="/experience/">experience</a>
          <li><a href="/about/">about</a>
        </ul>
      </div>
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>