{% extends "base.html" %}
{% import "macros/page.html" as page_macros %}


{% block title %}
{{section.title}}
{% endblock title %}

{% block content %}
<!-- <h1 class="title">
  {{ section.title }}
</h1> -->
<main class="lst">
  {% if paginator.pages %}
  {% for page in paginator.pages %}
  {{ page_macros::page_info(page=page) }}
  {% endfor %}
  <div class="pagination">
    {% if paginator.previous %}
    <a href="{{paginator.previous}}">« Back</a>
    {% else %}
    <span>« Back</span>
    {% endif %}
    &emsp;—&emsp;<span>{{paginator.current_index}}</span>&emsp;—&emsp;
    {% if paginator.next %}
    <a href="{{paginator.next}}">Next »</a>
    {% else %}
    <span>Next »</span>
    {% endif %}
  </div>
  {% else %}
  <h1>No blog entries available</h1>
  {% endif %}

</main>
{% endblock content %}